@import "tailwindcss";

/* Colors Grabbed from Samuel Marketing */
:root {
  --White: #ffffff;
  --Red: #ec2626;
  --Black: #000000;
  --samuel-green: #7da05e;
  --medium-dark: #333132;
  --medium-white: #F6F6F6;
  --samuel-dark-green: #0f390a;
  --green: #69b064;
}

body {
  /* Dark theme (default) */
  --background: var(--medium-dark);
  --text: var(--White);
}

[data-theme="light"] {
  /* Light theme */
  --background: var(--medium-white);
  --text: var(--Black);
}

.primary-button {
  background: var(--samuel-green)
}